<a href="https://colab.research.google.com/github/StuntStorm/Amrita-/blob/main/PSAT_Programs_(pt_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To print Numbers from 10 to 100

In [ ]:
for i in range(10,101):
  print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

To print the Sum of even Numbers

In [ ]:
sum=0
for i in range(1,10):
  if i%2==0:
    sum=sum+i
print(sum)

20

To print the sum of cubes

In [ ]:
sum = 0
n=int(input())
for i in range(1,n+1):
  sum+=i**3
print(sum)

3
36

To print the sum of all even numbers from 1 to 10

In [ ]:
sum = 0
for i in range()

Find the sum of numbers between given two ranges

In [ ]:
a,b=map(int,input().split())
sum = 0
if a<b:
  for i in range(a,b+1):
    sum+=i
  print(sum)
else:
  print("Invalid Range")

5 10
45

list1 = [12,15,32,42,55,75,122,132,150,180,200]